@use "../../../assets/css/breakpoints" as *;

.wp-block-jcore-ruudukko {
  --jcore-column-min: 360px;
  background-color: rgba(100, 100, 100, 0.1);
  &.jgrid {
    > div > div {
      display: grid;
      padding: 0.5rem;
      gap: 0.5rem;
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(var(--jcore-column-min), 100%), 1fr)
      );
    }

    @for $i from 1 through 6 {
      &.columns-#{$i},
      &.columns-xs-#{$i} {
        > div > div {
          grid-template-columns: repeat($i, 1fr);
        }
      }
    }
    @each $bp, $width in $breakpoints {
      @media (width >= $width) {
        @for $i from 1 through 6 {
          &.columns-#{$bp}-#{$i} > div > div {
            grid-template-columns: repeat($i, 1fr);
          }
        }
      }
    }
  }
}

section.breakpoint {
  border-top: 1px solid var(--wp--preset--color--cyan-bluish-gray);
  margin-top: 1rem;
  padding-top: 1rem;
}
